<!DOCTYPE html>
<html>

  <head>
            
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="script.js"></script> 
    <link rel="stylesheet" href="style.css" />
    <title>Bravissimo Technical Test</title>
  </head>

  <body ng-app="bravissimoExampleApp">

    <div class="container" ng-controller="submitForm">
    <h1 class="welcome text-center">Bravissimo <br> Task App</h1>
        <div class="card card-container">
        <h2 class='login_title text-center'>Login</h2>
        <hr>

            <form class="form-signin" novalidate ng-submit = "submit()">
                <p class="input_title">Username</p>
                <input type="text" id="inputUser" class="login_box" ng-model="submitUser" placeholder="username" required autofocus>
                <p class="input_title">Email</p>
                <input type="password" id="inputEmail" class="login_box" ng-model="submitEmail" placeholder="Email" required>
                <p class="input_title">Message</p>
                <input type="text" id="inputMessage"  placeholder="Enter a message" class="login_box" ng-model="submitMessage">
                
                <button class="btn btn-lg btn-primary" type="submit">Login</button>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->
  </body>

</html>
